/****************************************
* Ryerson University
****************************************/

#box-ryerson {
	top: @2012 + (@month * 8);
	height: 204px;
	background-color: @darkpurple;
}

#boxtext-ryerson {
	margin-top: -30px;
}

#location-ryerson {
	top: 305px;
}

#point-ryerson{
	left: 589px;
	top: 354px;
}

#description-ryerson {
	top: 329px;
}

/****************************************
* University of Toronto
****************************************/

#box-uoft {
	top: @2008;
	height: @twoYear + 1;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#boxtext-uoft {
	margin-top: -20px;
	left: 26%;
}

#location-uoft {
	top: 578px;
}

#description-uoft {
	top: 601px;
}

#point-uoft {
	left: 589px;
	top: 637px;
}

/****************************************
* FreshBooks
****************************************/

#box-freshbooks {
	height: @year + (@month * 1);
	left: @leftbox;
	top: @top;

	border-radius: 0;
}

#boxtext-freshbooks {
	top: 26%;
	left: 17%;
}

#location-freshbooks {
	//
}

#description-freshbooks {
	left: 18px;
}

#point-freshbooks {
	//
}

/****************************************
* Bibliocommons
****************************************/

#box-bibliocommons {
	height: @month * 7;
	left: @leftbox;
	top: @2014 + (@month * 3);
	border-radius: 0;
	background-color: @darkpurple;
}

#boxtext-bibliocommons {
	top: 28%;
}

#location-bibliocommons {
	left: 18px;
	top: 35px;
}

#description-bibliocommons {
	left: 18px;
	top: 58px;
}

#point-bibliocommons {
	left: 200px;
	top: 74px;
}

/****************************************
* Wishabi
****************************************/

#box-wishabi {
	height: @month * 23;
	left: @leftbox;
	top: @2014 + (@month * 10);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#boxtext-wishabi {
	top: 32%;
}

#location-wishabi {
	left: 18px;
	top: 144px;
}

#description-wishabi {
	left: 18px;
	top: 167px;
}

#point-wishabi {
	left: 200px;
	top: 193px;
}

/****************************************
* Canadian Urban Institute
****************************************/

#box-cui {
	height: @month * 6;
	left: @leftbox;
	top: @2012 + (@month * 14);
	background-color: @darkpurple;
}

#boxtext-cui {
	top: 30%;
	left: 15%;
}

#location-cui {
	left: 18px;
	top: 264px;
}

#description-cui {
	left: 18px;
	top: 288px;
}

#point-cui {
	left: 200px;
	top: 313px;
}

/****************************************
* Teaching Assistant
****************************************/

#box-ta {
	left: @leftbox;
	top: @2010 - (@month * 2);
	height: @year + 1;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#boxtext-ta {
	top: 27%;
	left: 21%;
}

#location-ta {
	left: 18px;
	top: 365px;
}

#description-ta {
	left: 18px;
	top: 388px;
}

#point-ta {
	left: 200px;
	top: 394px;
}

/****************************************
* Laycon Construction
****************************************/

#box-laycon {
	left: @leftbox;
	top: @2010 + (@month * 10);
	height: @month * 14;
	border-radius: 0px;
	background-color: @darkpurple;
}

#boxtext-laycon {
	top: 30%;
	left: 8%;
}

#location-laycon {
	left: 18px;
	top: 452px;
}

#description-laycon {
	left: 18px;
	top: 476px;
}

#point-laycon {
	left: 200px;
	top: 491px;
}

/****************************************
* Freelance Designer
****************************************/

#box-freelance {
	left: @leftbox;
	top: @2008;
	height: @year;
	border-radius: 0px;
}

#boxtext-freelance {
	top: 30%;
	left: 17%;
}

#point-freelance {
	left: 200px;
	top: 586px;
}

 #description-freelance {
	left: 18px;
	top: 570px;
}

/****************************************
* Customer Service
****************************************/

#box-cust {
	left: @leftbox;
	top: @2008 + @year;
	height: @year + 1;
	border-radius: 0px;
	background-color: @darkpurple;
}

#boxtext-cust {
	top: 30%;
	left: 18%;
}
