#current-location {
	float: left;
	margin-top: -1px;
}

#current-location img {
	vertical-align: -35%;
	width: 8px;
	margin-right: 2px
}

.emoji {
	vertical-align: -4px;
}

#footer {
	clear: both;
	font-family: @sans-serif;
	color: #888;
	font-weight: 400;
	font-size: 15px;
	display: inline-block;
	float: right;
	margin-bottom: 40px;
	margin-top: 80px;
}

#footer ul {
	float: right;
	margin-left: 255px;
}

#footer li {
	padding-left: 35px;
}

i {
	font-style: italic;
}
