html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  position: relative;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #222;
}
.pketh {
  position: absolute;
  background-image: url('../img/pketh.svg');
  height: 27px;
  width: 81px;
  right: 0px;
  top: -20px;
  background-repeat: no-repeat;
  display: none;
}
header {
  margin-top: 61px;
}
h1 {
  font-size: 43px;
  font-weight: 700;
  font-family: "adelle", serif;
  color: #111;
}
h2 {
  font-size: 43px;
  font-weight: 400;
  font-family: "proxima-nova", sans-serif;
  margin-top: 36px;
  line-height: 49px;
  margin-bottom: 41px;
}
li {
  display: inline;
  list-style-type: none;
}
nav {
  margin-bottom: 66px;
  font-family: "adelle", serif;
}
nav li {
  padding-right: 26px;
}
nav li a {
  text-decoration: underline;
  font-size: 24px;
  font-weight: 400;
  color: #222;
  -webkit-transition: all .3s ;
          transition: all .3s ;
}
nav li a:hover {
  color: #6B82D2;
}
#experience {
  position: relative;
  height: 835px;
  margin-bottom: 114px;
}
.bubbles-container {
  padding-top: 3px;
  font-family: "proxima-nova", sans-serif;
}
.bubbles-container li {
  display: inline-block;
  list-style-type: none;
  background-repeat: no-repeat;
  background-image: url('../img/bubble.svg');
  width: 65px;
  height: 40px;
  color: white;
  font-weight: 700;
  font-size: 16px;
}
.bubble {
  padding-top: 6px;
}
.bubble-work {
  margin-left: 258px;
  padding-left: 19px;
}
.bubble-school {
  margin-left: 117px;
  padding-left: 14px;
}
.legend {
  position: absolute;
  color: #aaaaaa;
  font-size: 14px;
  font-weight: 300;
  font-family: "adelle", serif;
  left: 386px;
}
#today {
  background-repeat: no-repeat;
  background-image: url('../img/today.svg');
  width: 15px;
  height: 25px;
  left: 392px;
  -webkit-animation: today_anim 1.3s ease-in;
          animation: today_anim 1.3s ease-in;
}
@-webkit-keyframes today_anim {
  0% {
    top: 0px;
  }
  30% {
    top: 0px;
  }
  85% {
    top: 46px;
  }
  100% {
    top: 43px;
  }
}
@keyframes today_anim {
  0% {
    top: 0px;
  }
  30% {
    top: 0px;
  }
  85% {
    top: 46px;
  }
  100% {
    top: 43px;
  }
}
#yr2014 {
  top: 139.6px;
}
#yr2012 {
  top: 314.8px;
}
#yr2010 {
  top: 490px;
}
#yr2008 {
  top: 665.2px;
}
#yr2006 {
  top: 840.4px;
}
.line {
  position: absolute;
  background-color: #E6E6E6;
  width: 377px;
  height: 1px;
}
.line-right {
  left: 421px;
}
.line-today {
  top: 60px;
}
.line-2014 {
  top: 147.6px;
}
.line-2012 {
  top: 322.8px;
}
.line-2010 {
  top: 498px;
}
.line-2008 {
  top: 673.2px;
}
.line-2006 {
  top: 848.4px;
}
.boxes {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-family: "proxima-nova", sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 0px rgba(2, 2, 2, 0.54);
  position: absolute;
  width: 113px;
  border-radius: 3px;
  left: 445px;
  vertical-align: middle;
  background-color: #0cbc73;
}
.boxestext {
  position: absolute;
  top: 50%;
  left: 22%;
}
.descriptions {
  font-family: "adelle", serif;
  color: #555D53;
  font-size: 12px;
  line-height: 18px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 154px;
  left: 598px;
  background-color: #CFE8CB;
  position: absolute;
}
.locations {
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #222;
  font-weight: 400;
  position: absolute;
  left: 598px;
}
.points {
  background-image: url('../img/point.svg');
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  height: 17px;
  width: 9px;
}
.points-work {
  background-image: url('../img/point-work.svg');
}
.underlined {
  font-family: "adelle", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  text-decoration: underline;
}
/****************************************
* Box Gradients
****************************************/
.boxgrad {
  height: 21px;
  width: 113px;
  position: absolute;
  left: 445px;
  background-image: url('../img/boxgrad-green-bottom.svg');
  background-repeat: no-repeat;
}
.boxgrad-top {
  background-image: url('../img/boxgrad-green-top.svg');
  height: 18px;
  top: 50px;
}
.boxgrad-purple-top {
  background-image: url('../img/boxgrad-purple-top.svg');
  height: 18px;
  top: 50px;
}
.boxgrad-purple-bottom {
  background-image: url('../img/boxgrad-purple-bottom.svg');
}
.boxgrad-bottom-school {
  top: 848.4px;
}
.boxgrad-work-top {
  left: 240px;
}
.boxgrad-work-bottom {
  top: 848.4px;
  left: 240px;
}
/****************************************
* Ryerson University
****************************************/
#box-ryerson {
  top: 381.2px;
  height: 204px;
  background-color: #6650d3;
}
#boxtext-ryerson {
  margin-top: -30px;
}
#location-ryerson {
  top: 426.6px;
}
#point-ryerson {
  left: 589px;
  top: 475.4px;
}
#description-ryerson {
  top: 450.4px;
}
/****************************************
* University of Toronto
****************************************/
#box-uoft {
  top: 673.2px;
  height: 176.2px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#boxtext-uoft {
  margin-top: -20px;
  left: 26%;
}
#location-uoft {
  top: 696.6px;
}
#description-uoft {
  top: 720px;
}
#point-uoft {
  left: 589px;
  top: 751.6px;
}
/****************************************
* FreshBooks
****************************************/
#box-freshbooks {
  height: 109.5px;
  left: 240px;
  top: 60px;
  border-radius: 0;
}
#boxtext-freshbooks {
  top: 26%;
  left: 17%;
}
#location-freshbooks {
  left: 18px;
  top: 53px;
}
#description-freshbooks {
  left: 18px;
  top: 76px;
}
#point-freshbooks {
  left: 200px;
  top: 92px;
}
/****************************************
* Bibliocommons
****************************************/
#box-bibliocommons {
  height: 51.1px;
  left: 240px;
  top: 169.5px;
  border-radius: 0;
  background-color: #6650d3;
}
#boxtext-bibliocommons {
  top: 28%;
}
#location-bibliocommons {
  left: 18px;
  top: 147.6px;
}
#description-bibliocommons {
  left: 18px;
  top: 170.6px;
}
#point-bibliocommons {
  left: 200px;
  top: 186.6px;
}
/****************************************
* Wishabi
****************************************/
#box-wishabi {
  height: 167.9px;
  left: 240px;
  top: 220.6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#boxtext-wishabi {
  top: 32%;
}
#location-wishabi {
  left: 18px;
  top: 246.4px;
}
#description-wishabi {
  left: 18px;
  top: 269.4px;
}
#point-wishabi {
  left: 200px;
  top: 295.4px;
}
/****************************************
* Canadian Urban Institute
****************************************/
#box-cui {
  height: 43.8px;
  left: 240px;
  top: 425px;
  background-color: #6650d3;
}
#boxtext-cui {
  top: 30%;
  left: 15%;
}
#location-cui {
  left: 18px;
  top: 389.2px;
}
#description-cui {
  left: 18px;
  top: 413.2px;
}
#point-cui {
  left: 200px;
  top: 438.2px;
}
/****************************************
* Teaching Assistant
****************************************/
#box-ta {
  left: 240px;
  top: 483.4px;
  height: 88.6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#boxtext-ta {
  top: 27%;
  left: 21%;
}
#location-ta {
  left: 18px;
  top: 491px;
}
#description-ta {
  left: 18px;
  top: 514px;
}
#point-ta {
  left: 200px;
  top: 520px;
}
/****************************************
* Laycon Construction
****************************************/
#box-laycon {
  left: 240px;
  top: 571px;
  height: 102.2px;
  border-radius: 0px;
  background-color: #6650d3;
}
#boxtext-laycon {
  top: 30%;
  left: 8%;
}
#location-laycon {
  left: 18px;
  top: 575.6px;
}
#description-laycon {
  left: 18px;
  top: 599.6px;
}
#point-laycon {
  left: 200px;
  top: 614.6px;
}
/****************************************
* Freelance Designer
****************************************/
#box-freelance {
  left: 240px;
  top: 673.2px;
  height: 87.6px;
  border-radius: 0px;
}
#boxtext-freelance {
  top: 30%;
  left: 17%;
}
#point-freelance {
  left: 200px;
  top: 709.2px;
}
#description-freelance {
  left: 18px;
  top: 693.2px;
}
/****************************************
* Customer Service
****************************************/
#box-cust {
  left: 240px;
  top: 760.8px;
  height: 88.6px;
  border-radius: 0px;
  background-color: #6650d3;
}
#boxtext-cust {
  top: 30%;
  left: 18%;
}
.col1 {
  float: left;
  width: 470px;
}
.col2 {
  float: left;
  padding-left: 40px;
  width: 285px;
}
#skills_h2 {
  margin-bottom: 35px;
  margin-top: 20px;
}
.skillsecs {
  border-bottom: 1px #EFEFF0 solid;
  border-left: 1px #fff solid;
  border-right: 1px #fff solid;
  border-top: 1px #fff solid;
  padding-top: 25px;
  -webkit-transition: all .3s ;
          transition: all .3s ;
  height: 200px;
}
.skill-description {
  font-family: "adelle", serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}
.skillbubbles li:hover,
.skillbubbles-hover {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) !important;
  background-color: #B8B8C8 !important;
  color: #21213b !important;
}
.skillbubbles li,
.skillbubble {
  font-family: "proxima-nova", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #333132;
  background-color: #EBEBEC;
  display: inline-block;
  padding: 7px;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 10px;
  border-radius: 10px;
  opacity: .8;
  -webkit-transition: all .2s ;
          transition: all .2s ;
  box-shadow: 0px 1px rgba(255, 255, 255, 0.6);
}
h4 {
  font-family: "adelle", serif;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 13px;
  display: block;
}
#current-location {
  float: left;
  margin-top: -5px;
}
#current-location img {
  vertical-align: -35%;
  width: 8px;
  margin-right: 2px;
}
#footer {
  clear: both;
  font-family: "adelle", serif;
  color: #888;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  float: right;
  margin-bottom: 40px;
  margin-top: 80px;
}
#footer a {
  color: #333132;
  text-decoration: underline;
  -webkit-transition: all .3s ;
          transition: all .3s ;
}
#footer ul {
  float: right;
  margin-left: 125px;
}
#footer li {
  padding-left: 35px;
}
#footer a:hover {
  color: #6B82D2;
}
i {
  font-style: italic;
}
#ryerson:hover #location-ryerson,
#ryerson:hover #description-ryerson,
#uoft:hover #location-uoft,
#uoft:hover #description-uoft {
  left: 585px;
}
#ryerson:hover #point-ryerson,
#uoft:hover #point-uoft {
  left: 576px;
}
#wishabi:hover #location-wishabi,
#wishabi:hover #description-wishabi,
#bibliocommons:hover #location-bibliocommons,
#bibliocommons:hover #description-bibliocommons,
.freshbooks:hover .locations,
.freshbooks:hover .descriptions,
#cui:hover #location-cui,
#cui:hover #description-cui,
#ta:hover #location-ta,
#ta:hover #description-ta,
#laycon:hover #location-laycon,
#laycon:hover #description-laycon,
#freelance:hover #location7,
#freelance:hover #description-freelance,
.freshbooks:hover #location-freshbooks,
.freshbooks:hover #description-freshbooks {
  left: 32px;
}
#cui:hover #point-cui,
#wishabi:hover #point-wishabi,
#bibliocommons:hover #point-bibliocommons,
#ta:hover #point-ta,
#laycon:hover #point-laycon,
#freelance:hover #point-freelance,
.freshbooks:hover #point-freshbooks {
  left: 214px;
}
#ryerson:hover #box-ryerson,
#bibliocommons:hover #box-bibliocommons,
#cui:hover #box-cui,
#laycon:hover #box-laycon,
#cust:hover #box-cust {
  background-color: #7660e5;
}
#uoft:hover #box-uoft,
.freshbooks:hover #box-freshbooks,
#wishabi:hover #box-wishabi,
#ta:hover #box-ta,
#freelance:hover #box-freelance {
  background-color: #09c778;
}
.boxes,
.locations,
.points,
.descriptions {
  -webkit-transition: all .3s ;
          transition: all .3s ;
}
/*# sourceMappingURL=resume.css.map */